<h3>Welcome to my blog!</h3>
<h2>Featured Posts:</h2>
<div class="container-fluid">
	<% @posts.each do |p| %>
		<div class="container-fluid">
			<p><%= p.content %></p>
			<small>Written by: <%= User.find(p.user_id).name %></small>
			<p><div type="button" class="btn btn-default btn-xs"><%= link_to "View", post_path(p)%></div>
		</div>
	<% end %>
</div>
<br>
<p>This blog have <%= link_to "#{Post.count} posts", posts_path %> written by <%= link_to "#{User.count} users.", users_path %></p>