<h1> Edit Post </h1>
<div class="container-fluid">
    <%= simple_form_for(@post, html: { class: "form-horizontal"}) do |p| %>
    <%= p.input :content, label: "Content", required: true %>
    <%= p.input :featured_posts, as: :boolean, checked_value: true, unchecked_value: false %>
    <div class="form-actions">
        <%= p.submit "Submit" , class: "btn btn-primary" %>
        <%= link_to "Back", posts_path, class: "btn btn-primary" %>
    </div>
    <% end %>
</div>