<h5>Your posts</h5>
<div class="container-fluid">
	<% @post.each do |p| %>
		<p><%= p.content %></p>
		<button type="button" class="btn btn-default btn-xs"><%= link_to "Edit", edit_post_path(p)%></button>
	<% end %>
</div>
<br>
<br>
<div class="form-actions"> 
	<%= link_to "Add new post", new_post_path, class: "btn btn-primary" %>
</div>