<h2> New Post:</h2>
<div class="container-fluid">
    <%= simple_form_for(@post, html: { class: "form-horizontal"}) do |f| %>
    <%= f.input :content, label: "Content", required: true %>
    <%= f.input :featured_posts, as: :boolean, checked_value: true, unchecked_value: false %>
    <div class="form-actions">
    <%= f.submit "Submit" , class: "btn btn-primary" %>
    <%= link_to "Back", posts_path, class: "btn btn-primary" %>
    </div>
    <%end%>
</div>