<div class="container-fluid">
<p><%= @post.content %></p>
<div type="button" class="btn btn-default"><%= link_to "Edit", edit_post_path(@post)%></div>
<div type="button" class="btn btn-default"><%= link_to "Back", posts_path%></div>
</div>